@import '../styles/mixins.scss';

.main-footer{
    display: flex;
    flex-direction: column;
    background-color: $dark-color;
    padding: 32px 24px;
    &_logo-container{
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid $grey-var-2;
        svg{
            margin: 0 auto;
        }
    }
    &_legal{
        text-align: center;
        @include paragraph(white, 12px, normal, .1px);
    }
}
@media (min-width: 767px){
    .main-footer{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 120px;
        padding-right: 120px;
        &_logo-container{
            margin: 0;
            padding: 0;
            border-bottom: none;
        }
    }
}