@import './mixins.scss';

.main-header{
    display: flex;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    &_phone{
        display: flex;
        align-items: center;
        gap: 16px;
        & > span{
            @include paragraph(black, 12px, 500, 0.2px);
        }
        &_telephone{
            display: flex;
            align-items: center;
            gap: 8px;
            span{
                @include paragraph(black, 16px, bold, 0.4px);
            }
        } 
    }
}
@media (max-width: 767px){
    .main-header{
        &_phone{
            & > span{
                display: none;
            }
        }
    }
}
@media (min-width: 1360px) {
    .main-header{
        padding-left: 120px;
        padding-right: 120px;
    }
}