@import './mixins.scss';

.stepper-indicator{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 24px;
    padding-top: 56px;
    & > p{
        flex-shrink: 0;
    }
}

.main-home{
    display: flex;
    overflow: hidden;
    .step{
        width: 100%;
        flex-shrink: 0;
        transition: 0.5s;
    }
    .step-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        background-color: $background-color;
        padding: 32px 24px 132px 24px;
        &_title{
        @include paragraph(black, 28px, 700, -0.2px);
        margin-bottom: 8px;
        }
        &_subtitle{
            @include paragraph(black, 16px, normal, 0.1px);
        }
        &_plan-card-container{
            margin-top: 32px;
            & > div{
                gap: 32px;
            }
        }
    }
    .step-2{
        background-color: $background-color;
        text-align: center;
        padding: 0 24px;
        padding-bottom: 40px;
        &_title{
            padding-top: 40px;
            @include paragraph(black, 28px, bold, -0.6px);
        }
        &_summary-card{
            text-align: start;
            background-color: white;
            border-radius: 24px;
            padding: 24px 32px;
            margin-top: 40px;
            box-shadow: 0px 1px 24px 0px rgba(174, 172, 243, 0.25);
            &_title{
                padding-bottom: 16px;
                border-bottom: 1px solid $grey;
                & > span{
                    @include paragraph(black, 10px, bold, 0.8px);
                }
                & > p{
                    @include paragraph(black, 20px, bold, -0.2px);
                }
            }
            &_data{
                margin-top: 16px;
                & > p:nth-child(1){
                    @include paragraph(black, 16px, bold, 0.2px);
                }
                & > p:nth-child(2), & > p:nth-child(3){
                    @include paragraph(black, 14px, normal, 0.1px);
                }
            }
        }
    }
}
@media (min-width: 767px) {
    .main-home{
        .step-1{
            &_plan-card-container{
                & > div{
                    flex-direction: row;
                    flex-wrap: nowrap;
                }
            }
        }
    }
}
@media (min-width: 1024px){
    .main-home{
        .step-2 .step-container{
            text-align: start;
            margin-left: auto;
            margin-right: auto;
            max-width: 928px;
        }
    }
    
}